
table{
  table-layout: fixed;
}

.h1{
  color: #252a34;
  font-size: 2rem;
  display: inline;
  margin-left: auto;
}

.heading1{
  position: absolute;
  right: 0;
}
.home-div{
  text-align: center;
}
.slab{
  background-color: #393e46;
  color: #fff;
}
.tatasteel{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1%;
  top: 1%;
}
